<div class="auth">
    <div class="auth__logo"></div>
    <div class="auth__content">
        <h1 class="auth__title">Добро пожаловать</h1>
        <h4 class="auth__subtitle">Авторизуйтесь чтобы продолжить</h4>
        <form class="form">
            <div class="form__item">
                <label
                    for="inputLogin">Логин*</label>
                <input
                    id="inputLogin"
                    type="text">
            </div>
            <div class="form__item">
                <label
                    for="inputPassword">Пароль*</label>
                <input
                    id="inputPassword"
                    type="password">
                <button>
                    <div class="icon-eye"></div>
                </button>
            </div>
        </form>
    </div>
</div>
