@import '../../../../styles.scss';

.auth {
    @extend %flex-column;
    align-items: center;
    gap: 100px;
    width: 410px;
    margin: 273px auto 0;

    &__logo {
        width: 100px;
        height: 69px;
        background: $logo-auth;
    }
    &__title {
        @include font-size-weigh(2.25rem, 700);
        margin: 0 0 15px;
    }

    &__subtitle {
        @include font-size-weigh(1rem, 400);
        color: $color-subtitle;
        margin: 0 0 15px;
    }

    .form {
        @extend %flex-column;
        gap: 30px;

        &__item {
            @extend %flex-column;
            gap: 10px;
            height: 74px;
            position: relative;

            label {
                @include font-size-weigh(0.875rem, 700);
                font-family: 'DM Sans', sans-serif;
            }

            input {
                height: 50px;
                border: 1px solid $color-input-border;
                border-radius: 5px;
                padding: 0 10px;
                @include font-size-weigh(0.875rem, 400);
                letter-spacing: 1px;
            }

            input::placeholder {
                color: $color-input-placeholder;
            }

            button {
                width: 20px;
                height: 20px;
                position: absolute;
                top: 41px;
                right: 20px;
                border: none;
                background: inherit;
                cursor: pointer;
            }

            .icon-eye {
                background: $logo-eye;
                width: 100%;
                height: 14px;
            }

            .icon-eye.active {
                background: $logo-eye-active;
                height: 7px;
            }
        }

        &__footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__checkbox {
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;
            input {
                opacity: 0;
                display: none;
            }

            span {
                display: inline-block;
                width: 16px;
                height: 16px;
                border: 1px solid $color-checkbox;
                border-radius: 5px;
                position: relative;

            }

            span::before {
                content: $logo-check-mark;
                position: absolute;
                @include font-size-weigh(0.7rem, 700);
                top: -1px;
                right: -1px;
                color: $color-white;
                width: 12px;
                height: 10px;
                transition: .3s;
            }

            input:checked + span{
                background: $color-checkbox;
            }
        }
        a {
            cursor: pointer;
            @include font-size-weigh(0.875rem, 500);
            color: $color-checkbox;

        }

        &__btn {
            width: 118px;
            height: 54px;
            border: none;
            border-radius: 12px;
            background: $color-checkbox;
            color: $color-white;
            align-self: center;
            @include font-size-weigh(1.125rem, 500);
            cursor: pointer;
        }
        &__btn:disabled {
            background: $color-btn-disabled;
        }
    }
}


