<div class="auth">
    <div class="auth__logo"></div>
    <div class="auth__content">
        <h1 class="auth__title">Добро пожаловать</h1>
        <h4 class="auth__subtitle">Авторизуйтесь чтобы продолжить</h4>
        <form class="form">
            <div class="form__item">
                <label
                    for="inputLogin">Логин*</label>
                <input
                    placeholder="mail@simmmple.com"
                    id="inputLogin"
                    type="text">
            </div>
            <div class="form__item">
                <label
                    for="inputPassword">Пароль*</label>
                <input
                    [type]="inputType"
                    placeholder="Минимум 8 символов"
                    id="inputPassword"
                    >
                <button type="button" (click)="toggleInputType()">
                    <div
                        [ngClass]="inputType==='password'
                            ?'icon-eye'
                            :'icon-eye active'">
                    </div>
                </button>
            </div>
            <div class="form__footer">
                 <div class="form__checkbox">
                    <input id="inputCheckbox" type="checkbox">
                    <label for="inputCheckbox">Запомнить</label>
                 </div>
                <a >Забыли пароль?</a>
            </div>
        </form>
    </div>
</div>
