<div class="dashboard">
    <div class="profile" *ngIf="profile$ | async as profile">
        <img [src]="profile.userAvatar" class="profile__avatar" alt="avatar">
        <div class="profile__content">
            <p class="profile__name">{{profile.userName}}</p>
            <p class="profile__id">ID пользователя: <span>{{profile.userId}}</span></p>
            <p>messageValue:{{messageValue}}</p>
        </div>
    </div>
    <form (ngSubmit)="onSubmitForm()" [formGroup]="messageForm" class="form">
        <label for="profile">Сообщение</label>
        <input formControlName="message" id="profile" type="text">
        <div class="form__btn-container">
            <button (click)="showTooltip(btnError.innerHTML, 'red')" #btnError type="button" class="form__btn form__btn-error">Ошибка</button>
            <button (click)="showTooltip(btnWarning.innerHTML, 'gold')" #btnWarning type="button" class="form__btn form__btn-warning">Предупреждение</button>
            <button (click)="showTooltip(btnSuccess.innerHTML, 'green')" #btnSuccess type="button" class="form__btn form__btn-success">Успех</button>
            <button [disabled]="messageForm.invalid" #btnMessage type="submit" class="form__btn form__btn-message">Сообщение</button>
        </div>
    </form>
</div>

