@import '../../../../styles.scss';

:host {
    @extend %flex-column;
    gap: 30px;
    padding: 67px 51px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 65px;

    &__avatar {
        width: 65px;
        height: 65px;
    }

    &__content {
        @extend %flex-column;
        gap: 10px;
    }

    &__name {
        font-family: $font-auxiliary;
        @include font-size-weigh(0.875rem, 700);
        color: $color-dashboard-text;
    }

    &__id {
        font-family: $font-auxiliary;
        @include font-size-weigh(0.875rem, 500);
        color: $color-dashboard-text;

        span {
            font-weight: 700;
        }
    }
}

.form {
    @extend %flex-column;
    gap: 15px;

    label {
        @include font-size-weigh(1.125rem, 500);
    }

    input {
        max-width: 617px;
        height: 48px;
        border: 1px solid $color-input-dashboard-border;
        border-radius: 5px;
        @include font-size-weigh(0.875rem, 400);
        padding: 0 15px;
        color: $color-dashboard-text;
    }

    &__btn-container {
        display: flex;
        gap: 39px;
        height: 54px;
        margin: 10px 0 0;

        .form__btn {
            border: none;
            border-radius: 12px;
            height: 54px;
            @include font-size-weigh(1.125rem, 600);
            color: $color-white;
            cursor: pointer;

            &:disabled {
                background: $color-btn-disabled;
                cursor: no-drop;
            }
        }

        .form__btn-error {
            @include view-btn($color-tooltip-red, 133px);
        }
        .form__btn-warning {
            @include view-btn($color-tooltip-gold, 223px);
        }
        .form__btn-success {
            @include view-btn($color-tooltip-green, 130px);
        }
        .form__btn-message {
            @include view-btn($color-tooltip-blue, 181px);
        }
    }
}

@media (max-width: 1240px) {
    .dashboard {
        padding: 350px 51px;
    }
}

@media (max-width: 740px) {
    .dashboard {
        padding: 350px 51px;
    }

    .form__btn-container {
        display: flex;
        flex-direction: column;
        height: fit-content;
        gap: 15px;
        margin: 10px 0 0;
    }
}