@import '../../../../styles.scss';

.tooltip__container {
    @extend %flex-column;
    position: absolute;
    right: 30px;
    top: 70px;
    width: 350px;
    gap: 10px;
    transition: .6s;
}

@media (max-width: 540px) {
    .tooltip__container {
        top:10px;
        left:50%;
        transform:translate(-50%, 10px);
    }
}