@import '../../../../styles.scss';

.tooltip {
    width: 320px;
    min-height: 60px;
    background: $color-white;
    border-radius: 5px;
    box-shadow: $color-tooltip-box-shadow;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
    margin-top: 20px;
    position: relative;
    border-left: 5px solid $color-black;

    &__text {
        width: 225px;
    }

    &__closed {
        position: absolute;
        top: 8px;
        right: 8px;
        border: none;
        background: inherit;
        cursor: pointer;
        span {
            width: 10px;
            height: 10px;
            color: $color-tooltip-close;
        }
    }
}

.green {
    @include tooltip-color($color-tooltip-green);
}
.red {
    @include tooltip-color($color-tooltip-red);
}
.gold {
    @include tooltip-color($color-tooltip-gold);
}
.blue {
    @include tooltip-color($color-tooltip-blue);
}