.tooltip {
    width: 320px;
    min-height: 60px;
    background: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
    margin-top: 20px;
    position: relative;
    border-left: 5px solid black;

    &__text {
        width: 225px;
    }

    &__closed {
        position: absolute;
        top: 8px;
        right: 8px;
        border: none;
        background: inherit;
        cursor: pointer;
        span {
            width: 10px;
            height: 10px;
            color: rgba(111, 114, 122, 0.5);
        }
    }
}

.green {
    border-left: 5px solid #249F5D;
    fill: #249F5D;
}

.red {
    border-left: 5px solid #FC5A5A;
    fill: #FC5A5A;
}
.gold {
    border-left: 5px solid #FCCA00;
    fill: #FCCA00;
}
.blue {
    border-left: 5px solid rgba(76, 84, 244, 1);
    fill: rgba(76, 84, 244, 1);
}